// Body
$body-bg: #E0D9D8;

// Typography
$font-family-sans-serif: "Patua One", cursive;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$font-family-logo: "Oleo Script Swash Caps", cursive;
$dropdown-min-width: 12rem;
$modal-content-bg: #f3e8c5;
$input-bg: #e8e8e8;

$primary: #E5926F;
$secondary: #FFF8BC;
$pastel-white: #efefef;
$tertiary: #6b7697;
$font-color: #495371;
$border-color: $font-color;

$carousel-indicator-width: 16px;
$carousel-indicator-height: 16px;
$carousel-indicator-spacer: 12px;
$carousel-indicator-hit-area-height: 15px;
$carousel-indicator-opacity: 0.4;
$carousel-indicator-active-bg: $pastel-white;

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&family=League+Spartan:wght@300;400;600;700&family=Oleo+Script+Swash+Caps&family=Patua+One&display=swap");
@import url(https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css);
@import url("~dropzone/dist/dropzone.css");
@import url("~@toast-ui/editor/dist/toastui-editor.css");
@import url("~@toast-ui/editor/dist/toastui-editor-viewer.css");
@import url("~@toast-ui/editor/dist/toastui-editor-only.css");
@import url("@toast-ui/editor/dist/theme/toastui-editor-dark.css");
.h4 {
    font-size: 1.375rem;
}

.title {
    font-size: 4.25rem;
    // font-family: $font-family-logo;
}

.paragraph {
    font-family: "League Spartan";
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 150%;
}

.logo-brand {
    color: #FFFFFF;
    padding-bottom: 0.32rem;
    font-family: $font-family-logo;
    font-size: 4.25rem;
    margin-right: 1rem;
    text-decoration: none;
    white-space: nowrap;
    text-shadow: 3px 2px 0px rgba(184, 116, 38, 0.5);
}

.looking {
    color: $secondary;
    padding-bottom: 0.32rem;
    font-family: $font-family-logo;
    font-size: 4.25rem;
    margin-right: 1rem;
    text-decoration: none;
    white-space: nowrap;
}

.footer-logo {
    padding-bottom: 0.32rem;
    font-family: $font-family-logo;
    font-size: 2.25rem;
    text-decoration: none;
    white-space: nowrap;
}

.username {
    white-space: nowrap;
}


.nav-text {
    text-shadow: 3px 2px 0px rgba(0, 0, 0, 0.25);
}

.nav-paragraph {
    text-shadow: 1px 0px 0px rgba(0, 0, 0, 0.25);
}

.drop-shadow {
    filter: drop-shadow(2px 4px 0px rgba(0, 0, 0, 0.25));
}

.text-outline-success {
    text-shadow: 1px 1px 0px rgba(52, 196, 40, 0.5);
}

.text-outline-danger {
    text-shadow: 1px 1px 0px rgba(196, 40, 40, 0.5);
}

 .label {
    cursor: pointer;
  }

  .progress {
    display: none;
    margin-bottom: 1rem;
  }

  .alert.user-profile-img {
    display: none;
  }

  .img-container img {
    max-width: 100%;
  }
 
 .main-header {
    background: url(../../storage/app/public/image/Lourve.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
 }

 @media (max-width: 2560px) { 
    .request-select {
        height: 705px;
    }

    .request-show {
        height: 1068px;
    }

    .main-header {
        height: 600px;
    }

    .intro {
        padding-top: 75px;
    }

 }

 @media (max-width: 1920px) { 
    .main-header {
        height: 700px;
    }

    .intro {
        padding-top: 150px;
    }

    .request-select {
        height: 340px;
        padding: 0 10px 0 10px;
    }

    .request-show {
        height: 712px;
    }
 }

.nav-header-transition {
    // background-color:rgba(0, 0, 0, 0.25);
    animation: opacity 500ms ease-in forwards;
    color:rgb(255, 255, 255)    
 }

.nav-header-transition::after {
    border-bottom: 10px solid #484848;
}

 @keyframes opacity {
    from {
        background-color:rgba(229, 146, 111, 0);
        text-shadow: 0px 0px 0px rgba(184, 116, 38, 0);
    }

    to {
        background-color:#dd8762;
        color: rgb(255, 255, 255);  
        text-shadow: 3px 2px 0px rgba(184, 116, 38, 0.75);
    }
}

.nav-text-transition {
    animation: colorChange 300ms ease-in forwards;
}

@keyframes colorChange {
    0% {
        color: black;
    }

    1% {
        color: black;
    }

    100% {
        color: rgb(255, 255, 255);
    }
}



.bg-tertiary {
    background: $tertiary;
}

.blank-image {
    height: auto;
}

.img-prev {
    background: #c4c4c4;
}

.profile {
    background: $primary;
}

.nav-menu:hover {
    background: $primary;
    color: white;
}

.row.display-flex {
    display: flex;
    flex-wrap: wrap;
}
.row.display-flex > [class*="col-"] {
    display: flex;
    flex-direction: column;
}

.text-colour {
    color: $font-color;
}

div.sticky {
    position: sticky;
    top: 225px;
}

div.artist-panel {
    position: sticky;
    top: 125px;
}

.filter-sticky {
    position: sticky;
    top: 150px;
    z-index: 10;
}

.requests {
    overflow-y: auto;
}

.request-select {
    overflow-y: auto;
    overflow-x: hidden;
}

.request-show {
    min-height: 30px;
    min-width: 30px;
    resize: both;
    max-width: 100%;
    overflow-y: hidden;
}

.request-pointer {
    cursor: pointer;
}

.request-btn {
    text-decoration: none;
}

#description {
    // // display: -webkit-box;
    // -webkit-line-clamp: 2; /* number of lines to show */
    // line-clamp: 2;
    // // -webkit-box-orient: vertical;
}

.overlay-edit {
}

.sr-only {
    display: none;
}

.overlay-edit:hover {
    background-color: #74959a;
}

.pill-hover {
    -webkit-transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.pill-hover:hover {
    width: 200px;
    -webkit-transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.background-img {
    position: absolute;
    width:max-content;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: -10;
    overflow: hidden;
}

.artist:hover {
    animation: jumpOut 600ms ease-in-out forwards;

}

@keyframes jumpOut {
    from {  
        filter: drop-shadow(0px 0px 0px rgba(255, 171, 124, 0));
    }
    to {
        transform : translateX(-5px) translateY(-10px);
        filter: drop-shadow(6px 16px 0px rgba(255, 171, 124, 1));
    }
}

.profile-img {
    border: 2px solid white;
    border-radius: 5px;
}

.artist-body {
    border-radius: 0 0 25px 25px;
    background: $pastel-white;
    color: #484848;
    white-space: nowrap;
}

.artist a {
    text-decoration: none;
}

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 15px; /* change width */
    height: 15px; /* change height */
    padding: 0;
    margin-right: 6px;
    margin-left: 6px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    opacity: 0.5;
    transition: opacity 0.6s ease;
    border-radius: 100%; // /* add border-radius */
}

.img-container {
    position: absolute;
    height: 250px;
    margin: auto;
}

.favourite {
    z-index: 1020;
    top: 10px;
    right: 25px;
    cursor: pointer;
}

.like {
    z-index: 1020;
    top: 10px;
    left: 25px;
    cursor: pointer;
}

