// Body
$body-bg: #f1e0ac;

// Typography
$font-family-sans-serif: "Patua One", cursive;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$font-family-logo: "Oleo Script Swash Caps", cursive;
$dropdown-min-width: 12rem;
$modal-content-bg: #f3e8c5;
$input-bg: #e8e8e8;

$primary: #6b7697;
$secondary: #74959a;
$tertiary: #6b7697;
$font-color: #495371;
$border-color: $font-color;

$carousel-indicator-width: 16px;
$carousel-indicator-height: 16px;
$carousel-indicator-spacer: 12px;
$carousel-indicator-hit-area-height: 15px;
$carousel-indicator-opacity: 0.4;
$carousel-indicator-active-bg: $secondary;

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&family=League+Spartan:wght@300;400;600;700&family=Oleo+Script+Swash+Caps&family=Patua+One&display=swap");
@import url(https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css);
@import url("~dropzone/dist/dropzone.css");

.h4 {
    font-size: 1.375rem;
}

.title {
    font-size: 4.25rem;
    // font-family: $font-family-logo;
}

.paragraph {
    font-family: "League Spartan";
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 150%;
}

.logo-brand {
    color: #74959a;
    padding-bottom: 0.32rem;
    font-family: $font-family-logo;
    font-size: 4.25rem;
    margin-right: 1rem;
    text-decoration: none;
    white-space: nowrap;
    text-shadow: 3px 3px 0 $body-bg, -1px -1px 0 $body-bg, 1px -1px 0 $body-bg,
        -1px 1px 0 $body-bg, 1px 1px 0 $body-bg;
}

.bg-tertiary {
    background: $tertiary;
}

.logo-brand:hover {
    color: #6b7697;
}

.blank-image {
    height: auto;
}

.img-prev {
    background: #c4c4c4;
}

.profile {
    background: #f3e8c5;
}

.nav-menu:hover {
    background: #e0d4ac;
}

.row.display-flex {
    display: flex;
    flex-wrap: wrap;
}
.row.display-flex > [class*="col-"] {
    display: flex;
    flex-direction: column;
}

.text-colour {
    color: $font-color;
}

div.sticky {
    position: sticky;
    top: 0;
}

.request-select {
    height: 74em;
}

.background-img {
    position: absolute;
    top: 0;
    z-index: -10;
}

.artist {
    border-radius: 25px;
    background: $modal-content-bg;
    box-shadow: 3px 10px #495371;
}

.profile-img {
    border: 2px solid white;
    border-radius: 5px;
}

.artist-body {
    position: relative;
    border-radius: 0 0 25px 25px;
    background: #f7efda;
    overflow: hidden;
}

.artist a {
    text-decoration: none;
}

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 15px; /* change width */
    height: 15px; /* change height */
    padding: 0;
    margin-right: 6px;
    margin-left: 6px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    opacity: 0.5;
    transition: opacity 0.6s ease;
    border-radius: 100%; // /* add border-radius */
}

.img-container {
    position: absolute;
    height: 250px;
    margin: auto;
}
